
// ----------------------- //
// ::: Yupik Grandient ::: //
// ------------------------//
 
// !Dependencies: http://compass-style.org


// Linear grandient cross-browsers solution (IE7+)
// ===============================================
// @param $startColor => top or left color
// @param $endColor => bottom or right color
// @param $horizontal => pass "horizontal" if need horizontal gradient
// @use: @include linear-gradient(#666 #ccc); => http://compass-style.org/examples/compass/css3/gradient/
// @set svg support for IE9 in base.scss
@mixin linear-gradient($param) 
{
    $horizontal: "";

    @if length($param) > 1 
    { 
        $startColor: nth($param, 1);
        $endColor:   nth($param, 2);
        @if length($param) == 3 { $horizontal: nth($param, 3) }

        background-color: $startColor;

        @if $yupik-lt9-compatibility {
            @include filter-gradient($startColor, $endColor, $horizontal);
        }

        @if $horizontal == horizontal {
            @include background-image( linear-gradient(left, $startColor, $endColor) );
        }
        @else {
            @include background-image( linear-gradient($startColor, $endColor) );
        }
    }
    @else {
        @warn "You need 2 or 3 parameters for linear-gradient mixin";
    }
}


// Remove fully and properly "linear-gradient" mixin
// ================================================
@mixin remove-linear-gradient() {
    background-color: transparent;
    filter: none;
    background-image: none;
}